body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 30px;
  background-color: #f5f5f5;
}

h1 {
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

th {
  background-color: #186408;
  color: white;
  padding: 12px;
}

td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.btn-novo {
  background-color: #2ac90a;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
}

.btn-editar {
  color: #2980b9;
  font-weight: bold;
}

.btn-excluir {
  color: #c0392b;
  font-weight: bold;
}

.navbar {
    background-color: #186408 !important;
}

.navbar-brand {
    color: white !important;
    font-weight: bold;
    font-size: 1.4rem;
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: #d6eaf8 !important;
}