@{
    ViewData["Title"] = "Espaço Varandas";
}

<div class="text-center mt-5">

    <h1 class="display-4">Espaço Varandas</h1>

    <p class="lead">
        Gerencie as reservas do seu espaço de festas.
    </p>

    <div class="mt-4">

        <a asp-controller="Account"
           asp-action="Login"
           class="btn btn-success btn-lg me-2">
            Entrar
        </a>

        <a asp-controller="Account"
           asp-action="Cadastro"
           class="btn btn-outline-success btn-lg">
            Cadastrar
        </a>

    </div>

</div>