@{
    ViewData["Title"] = "Início";
}

<div class="text-center mt-5">
    <h1 class="display-4">Bem-Vindo ao Espaço Varandas</h1>

    <p class="lead">
       Gerencie reservas de forma simples e organizada.
    </p>

    <br />

    <a href="/Reserva" class="btn-sucess btn-lg">
       Ver Reservas!
    </a>
</div>
