<h1>Nova reserva</h1>

<form method="post">
    <label>Nome do cliente:</label>
    <input type="text"  name="NomeCliente"/>
    <label>Telefone:</label>
    <input type="number" name="Telefone" />

    <br />
    <br />

    <button type="submit">Salvar</button>

</form>
 