@model AgendaDeReservas.Models.Reserva

<h1>Editar Reserva...</h1>

<form method="post">
    <input type="hidden" name="Id" value="@Model.Id" />

    <label>Nome do Cliente:</label>
    <input type="text" name="NomeCliente" value="@Model.NomeCliente" required />

    <br />
    <br />

    <label>Telefone:</label>
    <input type="number" name="Telefone" value="@Model.Telefone" />

    <br />
    <br />

    <button type="submit"> Salvar Alterações</button>

</form>